body {
  font-family: sans-serif;
  margin: 0;
}

header,
footer {
  background: #000;
}

h1 {
  font-size: 1.4em;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em;
}

header h1 {
  margin: 0;
  font-family: serif;
  font-weight: normal;
}

header input {
  height: 100%;
  padding-right: 1em;
}

header,
header a,
footer,
footer a {
  color: #fff;
}

main {
  margin: 0.5em;
}

main h1 {
  margin: 0.5em 0;

}

p {
  margin-top: 0.5em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}

footer {
  border-top: 1px solid #000;
  padding: 0.25em 0.5em;
  margin-top: 1em;
  font-size: 0.8em;
  clear: both;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button.action {
  padding: 2px;
}

button.beat-button,
button.action {
  width: 2em;
  height: 2em;
}

.beat-button[aria-pressed="true"]:hover {
  border: 2px inset red;
}

.beat-button[aria-pressed="false"]:hover {
  border: 2px outset red;
}

.beat-button.active[aria-pressed="true"] {
  background: red;
}

.beat-button.active[aria-pressed="false"] {
  background: red;
}

.rhythm-link {
  font-family: monospace;
}

.note.active,
.rest.active {
  text-shadow: 0 0 0.25rem #ff0000;
  font-size: 125%;
}

.beat-dot:hover,
.rest-dot:hover,
.beat-dot.active,
.rest-dot.active {
  filter: drop-shadow(1px 1px 1px #f66) drop-shadow(1px -1px 1px #f66) drop-shadow(-1px 1px 1px #f66) drop-shadow(-1px -1px 1px #f66);
}

@font-face {
  font-family: Bravura;
  src: url(./fonts/Bravura.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

.bravura {
  font-family: Bravura;
}