name: Test JavaScript
on:
  push:
    paths:
      - 'package/rhythmicon-app/**'
      - 'package/rhythmicon-rhythm/**'
      - 'package/rhythmicon-vue/**'
      - '*.md'
  pull_request:
      - 'package/rhythmicon-app/**'
      - 'package/rhythmicon-rhythm/**'
      - 'package/rhythmicon-vue/**'
      - '*.md'
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 20.x, 22.x, 24.x ]
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: make all
